@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("../fontawesome-free-6.6.0-web/css/all.min.css");

// color code with variable
$white-primary:rgba(255, 255, 255, 1.00);
$pink-primary:rgba(224, 44, 109, 1.00);
$btn-hover:rgb(211, 9, 83);
$blue-primary:rgb(45, 37, 160);
$black-primary: rgb(0, 0, 0);
$black-light:rgb(24, 25, 31);
$black-lighter:rgb(108, 108, 108);
$black-bold:rgb(10, 8, 38);